.productList{
    flex: 4;
    color: #000;
    background: #f2f2f2;
}

.productListItem{
    display: flex;
    align-items: center;
    color: #000;
}
.MuiDataGrid-cell {
    color: #000;
}
.MuiDataGrid-columnHeaderTitleContainer{
    color: #000;
}
.MuiTablePagination-root{
    background: #fff;
}
.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
.productListImgSpecial{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}