body{
    background: #000;
    color: #fff;
}


.PrivateSwitchBase-input-7{
    border: 1px;
}
.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}

.panelLogin{
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
}

.panelLoginContainer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.panelLoginContainer img{
    width: 100%;
    margin-bottom: 40px;
}
.panelLoginContainer input {
    width: 100%;
    border: 1px #f4f4f4 solid;
    background: none;
    margin: 10px 0;
    padding: 9px 12px;
    color: #fff;
    border-radius: 5px;
}
.panelLoginContainer label {
    color: #fff;
}
.btn{
    background: none;
    border: 1px solid rgb(9, 255, 0);
    padding: 10px 25px;
    color: rgb(9, 255, 0);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
}
/* HOME */

.home{
    background: #000;
    color: #f2f2f2;
}

/* SLIDE BAR */

.sidebar{
    background: #000;
    color: #fff;
}
