body{
    background: #000;
    color: #fff;
}


.PrivateSwitchBase-input-7{
    border: 1px;
}
.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}

.panelLogin{
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
}

.panelLoginContainer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.panelLoginContainer img{
    width: 100%;
    margin-bottom: 40px;
}
.panelLoginContainer input {
    width: 100%;
    border: 1px #f4f4f4 solid;
    background: none;
    margin: 10px 0;
    padding: 9px 12px;
    color: #fff;
    border-radius: 5px;
}
.panelLoginContainer label {
    color: #fff;
}
.btn{
    background: none;
    border: 1px solid rgb(9, 255, 0);
    padding: 10px 25px;
    color: rgb(9, 255, 0);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
}
/* HOME */

.home{
    background: #000;
    color: #f2f2f2;
}

/* SLIDE BAR */

.sidebar{
    background: #000;
    color: #fff;
}


.editor{
    width: 90%;
}
.quill{
    width: 100%;
    margin: 20px auto;
}

.formTexts p {
    text-align: left!important;
    width: 85%;
}

.MuiDataGrid-columnsContainer{
    position: fixed;
}
.MuiDataGrid-columnHeaderWrapper{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba(62, 62, 62, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
    z-index: 10;
}
.sidebar{
    z-index: 100;
}
.addNewBtn{
    position: fixed;
    bottom: 0;
    z-index: 10;
}
  .addNewBtn button{
    
    color: #fff;
    background: #3bb077;
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 30px;
  }
  .MuiTablePagination-root{
    position: fixed;
    z-index: 600;
    bottom: 0;
    right: 0;
    margin: 30px;
  }

  .searchBarPanel input{
    color: #fff;
    background: none;
    width: 500px;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;

  }
  .searchBarPanel{
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    height: 50px;
    padding: 0px 15px;
    border-radius: 10px;
  }